.profile-container {
  padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .profile-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c2aa89;
    width: 80%;
    max-width: 900px;
    padding: 40px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .tasks-section {
    flex: 1;
  }
  
  .tasks-title {
    font-size: 1.2rem;
    color: #333;
  }
  
  .tasks-line {
    width: 100%;
    height: 2px;
    background-color: #736b5e;
    margin: 5px 0;
  }
  
  .goal-tracker {
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .chart-placeholder {
    width: 100%;
    height: 50px;
    background-color: #b0b0b0;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  
  .username {
    margin-top: 10px;
    font-size: 1.2rem;
    font-style: italic;
    color: #333;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .profile-card {
      flex-direction: column;
      text-align: center;
    }
  
    .tasks-section, .user-section {
      width: 100%;
    }
  
 
  }
  